Package: libonig5
Source: libonig
Version: 6.9.1-1
Architecture: amd64
Maintainer: Jörg Frings-Fürst <debian@jff.email>
Installed-Size: 1205
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/kkos/oniguruma
Description: regular expressions library
 Oniguruma is a library for working with regular expressions.
 .
 Different character encoding for every regular expression object can
 be specified.
